<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <% 
  let imagesArray = Object.values(images) 
  var arr = [];

  for (let i = 0; i < imagesArray.length; i++) {
    arr.push(imagesArray[i].path)
  }
  %>
  <h2><%= arr %></h2>
  <div class="xl:container xl:mx-auto">
    <%- include('components/navbar'); %>
    <img width="100%" src="/img/<%= arr[0] %>">
    <h2>Новинки</h2>
    <img src="/img/new/<%=Object.values(newImages)[0].path%>">
  </div>
<script src="/js/home.js"></script>
</body>
</html>

//gender
//category
//year