<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body
  <h1>Загрузка картинок на главную ленту</h1>
  <form action="user/newImage" method="post" enctype="multipart/form-data">
    <input required type="file" name="demo_image">
    <input type="text" name="year">
    <input type="text" name="name">
    <input type="text" name="price">
    <button type="submit">save</button>
  </form>
</body>
</html>